
body > section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  box-sizing: border-box;
  height: 100%;
  -webkit-perspective: 800;
  -webkit-transform-style: preserve-3d;
}


.flex-container {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}


.col-1 {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;

}

.col-2 {
	-moz-box-flex: 2;
	-webkit-box-flex: 2;
	box-flex: 2;
    border:solid 1px red;
}
