
body {
    font-family: helvetica, sans-serif;
}

.flex-container {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}


.col-1 {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;

}

.col-2 {
	-moz-box-flex: 2;
	-webkit-box-flex: 2;
	box-flex: 2;
    border:solid 1px red;
}
